<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guitar Catalog | {{item.name}}</title>

    <meta name="description" content="Guitar Catalog, made with Python DBAPI">
    <meta name="author" content="AnikCreative">
    <link rel="stylesheet"
          href="{{url_for('static', filename='theme/normalize.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='theme/base.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='theme/media.css')}}">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <!-- Application Logo and Title -->
      <div class="app-info">
        <div class="app-logo"><img class="logo-img" src="" /></div>
        <span class="app-name">Guitar Catalog</span>
        <span class="app-author">AnikCreative</span>
      </div>
    </header>

    <div class="content-wrapper" id="__CONTENT__">

      <!-- List of all guitar categories -->
      <aside class="content-container categories-menu" id="all-categories">
        <h2>All Categories</h1>
        <ul id="list-categories">
          {% for c in categories %}
          <li><a href="{{url_for('viewCategory', category_name=c.name)}}">{{c.name}}</a></li>
          {% endfor %}
        </ul>
      </aside>

      <!-- Item information -->
      <article class="content-container" id="item-information">
        <!-- Page/Asset Path (Breadcrumb) -->
        <div class="breadcrumb">
          <a href="{{url_for('catalogHome')}}">Home</a>
           &gt; <a href="{{url_for('viewCategory',
                        category_name = category.name)}}">{{category.name}}</a>
           &gt; <a href="{{url_for('viewGuitar',
                        category_name = category.name,
                        guitar_slug = item.slug)}}">{{item.name}}</a>
        </div>

        <h1>{{item.name}}</h1>
        <span>{{item.views}} views</span>
        <img class="item-img"
             src="{{url_for('static',
                            filename=('assets/img/guitars/' + item.slug+'.jpg'))}}"/>
        <p>
          {{item.description}}
        </p>
      </article>

    </div>

  </body>
</html>
